{% extends 'base.html.twig' %}

{% block title %}New EquipmentInt{% endblock %}

{% block body %}
    <h1>Create new EquipmentInt</h1>

    {{ include('equipment_int/_form.html.twig') }}

    <a href="{{ path('app_equipment_int_index') }}">back to list</a>
{% endblock %}
